body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 0, 75), rgb(64, 39, 94));
    margin: 0;
    padding: 0;
}

#content {
    width: 60%;
    margin: auto;
    border: 1px solid #000000;
}

#banner {
    background-color: rgb(5, 70, 70);
    text-align: center;
    border: 1px solid #000000;
    margin: 10px;
}

#blogposts {
    margin: 10px;
    border: 1px solid #000000;
    background-color: #5c0014;
}

.post {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    background-color: rgb(94, 2, 63);
}

.post .left {
    margin-right: 10px;
    display: block;
    float: left;
}

.post img {
    width: 500px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div {
    transition: width 2s, height 2s, transform 2s;
  }

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
  }

h2 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
  }